<h1>New Task Assigned to You</h1>

<p>Hello <%= @assigned_user.first_name %>,</p>

<p>You have been assigned a new task:</p>

<ul>
  <li><strong>Title:</strong> <%= @task.title %></li>
  <li><strong>Description:</strong> <%= @task.description %></li>
  <li><strong>Due Date:</strong> <%= @task.due_date.strftime("%B %d, %Y") %></li>
  <li><strong>Assigned by:</strong> <%= @creator.first_name %> <%= @creator.last_name %></li>
</ul>

<p>View the task here: <%= link_to "View Task", task_url(@task, host: "localhost:3000") %></p>

<p>Please complete it by the due date. Thank you!</p>